name: Build and Push to Docker Hub
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build test image
        run: docker build -t cygnetops/react-test -f Dockerfile.dev .
      
      - name: Run tests
        run: docker run -e CI=true cygnetops/react-test npm test
      
      - name: Build production image
        run: docker build -t cygnetops/react-app:latest -t cygnetops/react-app:${{ github.sha }} -f Dockerfile .
      
      - name: Push images to Docker Hub
        run: |
          docker push cygnetops/react-app:latest
          docker push cygnetops/react-app:${{ github.sha }}